@import "tailwindcss";
@import "tailwindcss/utilities";

@theme inline {
  --color-primary: #0d59f2;
  --color-background-light: #f5f6f8;
  --color-background-dark: #101622;
  --font-display: var(--font-space-grotesk), "Space Grotesk", sans-serif;
  --font-body: var(--font-noto-sans), "Noto Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}
